# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
autopep8=1.5.4
ca-certificates=2020.7.22
certifi=2020.6.20
click=7.1.2
colorama=0.4.3
fastapi=0.61.1
frida=12.11.17
h11=0.9.0
loguru=0.5.3
openssl=1.1.1g
pip=20.2.2
pycodestyle=2.6.0
pydantic=1.6.1
pyexecjs=1.5.1
python=3.8.0
setuptools=49.6.0
six=1.15.0
sqlite=3.33.0
starlette=0.13.6
toml=0.10.1
uvicorn=0.11.8
vc=14.1
vs2015_runtime=14.16.27012
websockets=8.1
wheel=0.35.1
win32-setctime=1.0.2
wincertstore=0.2
zlib=1.2.11
